* {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  height: 100vh;
  padding: 50px;
  background-color: rgb(115, 115, 121);
}

.overview-group {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: #efefef;
  height: 150px;
}

.game-result {
  font-weight: 900;
}


/* Group  */

.Group-table-con {
  
}