* {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  height: 100vh;
  padding: 50px;
  background-color: rgb(115, 115, 121);
}

/* Group  */
.Overview-Group {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  background-color: #efefef;
  gap: 10px;
}

.Overview-Group-matches {
  /* display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr; */
  align-items: center;
}

.Group-table-con {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 150px;
}

.Group-table-div:nth-child(odd) {
  background-color: #bfbfd9;
}

.Group-table-div {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr 0.5fr 0.5fr;
  width: 100%;
  align-items: center;
  text-align: center;
}

.Group-table:nth-child(2) {
 justify-self: flex-start; 
}

.game-result {
  font-weight: 900;
}

/* Matches  */

.game-div, .game-hl-div {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
}

.game-hl-div {
  background-color: #bfbfd9;
  line-height: 150%;
}

.game-div {
  line-height: 150%;
}