* {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  height: 100vh;
  padding: 50px;
  background-color: rgb(115, 115, 121);
}

/* Group  */
.Overview-Group {
  border: 2px solid black;
  height: fit-content;
  padding: 8px;
  background-color: #efefef;
}

.Overview-Group-matches {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  /* background-color: #efefef; */
  height: 150px;
}

.Group-table-con {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr 0.5fr 0.5fr;
  /* background-color: #efefef; */
  height: 150px;
}

.game-result {
  font-weight: 900;
}